.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 200px 50px 200px;
    background-color: #e5d4c4;
    justify-items: center;
}

.titulo-footer {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.li-footer {
    list-style: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.container-iconos {
    display: flex;
    gap: 50px;
    justify-content: center;
    cursor: pointer;
}

.logo-footer {
    width: 200px;
    border-radius: 10px;
}

.a-none{
    text-decoration: none;
    color: #000000;
}