.faq-section {
  padding: 50px 500px 80px 500px;
  display: flex;
  flex-direction: column;
  background: #ededed;
}
.faq-title{
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid #e6e6e6;

}
.li-container {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}
.li-none-black {
    list-style: none;
    color: black;
    display: flex;
    flex-direction: column;
}
.li-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #e6e6e6;
    padding: 20px;
    background-color: #ffffff;
}
.li-content:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
.faq-content {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
}
.li-volver-productos {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 10px;
}
.li-volver-productos:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
    .faq-section {
        padding: 20px;
    }
    .li-content {
        font-size: 14px;
    }
    .faq-content{
        font-size: 14px;
    }
}
