.nosotros-container {
    padding: 50px 300px 80px 300px;
    display: flex;
    flex-direction: column;
    background: #fefaf6;
}

.nosotros-container-2 {
    padding: 10px 300px 80px 300px;
    display: flex;
    flex-direction: column;
    background: #f7f7f9;
}



.nosotros-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.nosotros-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #000000;
    padding: 50px;
}

.nosotros-content h1 {
    font-size: 2.4rem;
    margin-bottom: 8px;
    color: #0f172a;
}

.nosotros-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-reveal {
    position: absolute;
    inset: 0;
    background-color: #b38a5a;
    border-radius: 10px;
    transform-origin: left;
    z-index: 2;
}

.img-nosotros {
    width: 350px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}


.nosotros-text {
    width: 50%;
    padding: 60px;
}

.nosotros-text-2 {
    width: 40%;
    padding: 100px;
}

.cf-titulo {
    font-size: 1.6rem;
    font-weight: 500;
    color: #b38a5a;
}

.cf-subtitulo {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: #000000;
}

.cf-contenido {
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;
}

.cf-contenido-2 {
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fde9c4;
    color: #000000;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.nosotros-stats {
    width: 100%;
    background-color: #fde9c4;
    color: #000000;
    display: flex;
    justify-content: space-around;
    padding: 50px 80px 50px 80px;
}

.nosotros-stats-2 {
    width: 100%;
    background-color: #fde9c4;
    color: #000000;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 50px 80px 50px 80px;
}

.stats-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.stats-group-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.stats-numero {
    font-size: 3rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .nosotros-container {
        padding: 20px;
    }
    .nosotros-container-2 {
        padding: 20px;
    }
    .nosotros-content {
        flex-direction: column;
    }
    .nosotros-content-2 {
        flex-direction: column;
        padding: 20px;
    }
    .nosotros-text {
        width: 90%;
        padding: 0;
    }
    .nosotros-text-2 {
        width: 90%;
        padding: 0;
        font-size: 15px;
    }
    .cf-titulo {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .cf-subtitulo {
        font-size: 20px;
    }
    .cf-contenido {
        font-size: 15px;
    }
    .nosotros-stats {
        padding: 20px;
    }
    .nosotros-stats-2 {
        padding: 20px;
        gap: 5px;
    }
    .stats-numero {
        font-size: 18px;
    }
    .stats-texto {
        font-size: 10px;
    }
    .img-nosotros {
        width: 300px;
    }
    .stats-icons {
        width: 40px;
    }
    .cf-contenido-2 {
        font-size: 15px;
        padding: 20px;
    }
}