* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

.center {
  display: flex;
  justify-content: center;
  min-height: 100vh
}

/* Footer Style */
html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Empuja el footer al fondo */
}