* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.center {
  display: flex;
  justify-content: center;
}

/* Footer Style */
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Empuja el footer al fondo */
}
input,
textarea,
select,
button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}
